*{

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*.index{
height: 100vh;
width: 100%;
background-image: url(image/Montagne.webp);
background-size: cover;
}*/

.equipe {
    height: 100vh;
    width: 100%;
    background-image: url(image/enconstruction.png);
    background-size: cover;
    }


.navbar{
position: absolute;
padding: 50px;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
box-sizing: border-box;
background: 0;
}
.navbar a {
color:rgb(139, 23, 23);

}
.navbar .logo{
font-size: 2em;
font-weight: bold;
width: 20%;
}

.navbar .nav-links ul {
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
}
.navbar .menu-hamburger {
    position: absolute;
    display: none;
    top: 50px;
    right: 50px;
    width: 35px;
    
    }
#background-video {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        position: fixed;
        z-index: -1;
        filter: brightness(30%);
        }
h1 {
        position: absolute;
        justify-content: center;
    }
section {

    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home {

display: flex;
align-items: center;
padding: 0 9%;
color: white;
}
.home-content {
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content .text-animated{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animated h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(red);
}
.home-content p{

    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}


    
@media screen and (max-width: 900px){
    .navbar{
        padding: 0;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(199, 187, 187, 0.224);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: 0.5s ease;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
    .navbar .logo{
        position: absolute;
        top: 40px;
        left: 30px;
        }
    .navbar .menu-hamburger{
        display: block;
    }
    .nav-links.mobile-menu {
        margin-left: 0;
    }
}

